@import '../../../shared/styles/variables/variables.scss';

.container {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  height: 45px;
  width: 100%;
  background-color: $navBackgroundColor;
  z-index: 99;
}
