/*@import url('./assets/fonts/Roboto/roboto.css');*/

:root {
    --black:  #333333;
    --orange: #CC6633;
    --green:  #A4CC33;
    --white:  #FFFFFF;
    --grayF4: #F4F4F4;
    --grayF3: #F3F3F3;
    --grayD3: #D9D9D9;
    --grayC4: #C4C4C4;
    --gray99: #999999;
    --gray66: #666666;
    --grayD9: #D9D9D9;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--grayF4);
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto', serif;
}

* {
    color: var(--black);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}