@import url('./styles/fonts/gilroy/stylesheet.scss');
@import url('./styles/fonts/hagin/stylesheet.scss');
@import '../shared/styles/variables/variables.scss';

body {
    margin: 0;
    padding: 0;
    background-color: var(--grayF4);
    font-size: 14px;
    line-height: 16px;
    font-family: $textType1;
    font-weight: 400;
}

* {
    color: var(--black);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}